{% extends "base.html" %}
{% block content %}
{% load static %}
  
  <div class="outside">
    <div class="container-fluid info" id="about">

      <!-- Main component for a primary marketing message or call to action -->
      <div>
        <h1>About D4D</h1>
        <h3>Inspire. Innovate. Impact.</h3>
        <p>Harvard College Developers for Development (D4D) was founded in spring of 2012 by Alisa Nguyen, Victoria Gu, and Joy Ming in order to bring together two previously disparate communities--those interested in international development and those interested in technology--to help use "new" technologies to solve "old" problems in the developing world. D4D has worked to increase awareness for and involvement in social impact technology across the Harvard campus through projects, events, and more!</p>
        <h3>What is social impact technology?</h3>
        <p>A common term for social impact technology is Information Communications Technology for Development (ICT4D), which includes applications that improve lives in the fields of socioeconomic development, international development, and human rights. This can span across many different fields, including healthcare, government, finance, education, agriculture, and more.
        <h3>Current leadership</h3>
        <div class='row'>
					<div class='col-md-3'>
					</div>
					<div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/ramya.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Ramya Rangan</h4>
                Co-President
              </div>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/michelle.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Michelle Xie</h4>
                Co-President
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/ankit.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Ankit Gupta</h4>
                Tech in the World Co-Director
              </div>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/tom.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Tom Silver</h4>
                Tech in the World Co-Director
              </div>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/jordan.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Jordan Canedy</h4>
                ID Hack Co-Director
              </div>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/kimberley.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Kimberley Yu</h4>
                ID Hack Co-Director
              </div>
            </div>
          </div>
				</div>
				<div class='row'>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/nicole.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Nicole Bassoff</h4>
                Communications Director
              </div>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/richard.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Richard Zou</h4>
                Internal Relations Director
              </div>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/maria.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Maria Lai</h4>
                Term-Time Projects Director
              </div>
            </div>
          </div>
          <div class='col-md-3'>
            <div class='thumbnail'>
              <img src="{% static 'img/michael.jpg' %}" class='board-pic'>
              <div class='caption'>
                <h4>Michael Hwang</h4>
                External Relations Director
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- container-fluid -->
  </div><!-- outside -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy('refresh');
      })
    </script>
{% endblock %}
