{% extends "base.html" %}
{% block content %}
{% load static %}
  
  <div class="outside">
    <div class="container-fluid info">

      <!-- Main component for a primary marketing message or call to action -->
      <div>
        <h1>Contact Us</h1>
        <a href="mailto:harvardd4d@gmail.com"><img src="{% static 'img/email.png' %}" class='contact-pic' title='Email'></a>
        <a href="http://www.twitter.com/harvardd4d" ><img src="{% static 'img/twitter.png' %}" class='contact-pic' title='Twitter'></a>
        <a href="http://www.facebook.com/developersfordevelopment" title='Facebook'><img src="{% static 'img/facebook.png' %}" class='contact-pic'></a>
        <a href="http://harvardd4d.tumblr.com"><img src="{% static 'img/tumblr.png' %}" class='contact-pic' title='Tumblr'></a>
      </div>

    </div> <!-- /container -->
  </div><!-- outside -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy('refresh');
      })
    </script>
{% endblock %}
