{% extends "base.html" %}
{% block content %}
{% load static %}
  
  <div class="outside">
    <div class="container-fluid info">

      <!-- Main component for a primary marketing message or call to action -->
      <div>
        <h1>ID Hack</h1>
        <p>The International Development Hackathon co-organized by Harvard Developers for Development and the MIT Global Poverty Initiative is the largest collegiate hackathon for good. Held annually in the spring and currently in its third year, ID Hack participants have worked on projects from NGOs, nonprofits, and governmental organizations operating in the international development space such as Peace Corps and the United Nations World Food Programme. Sponsors of ID Hack play an integral role in helping D4D build a community of hackers for social good. Past sponsors such as J.P. Morgan and Intuit have judged and awarded projects that best demonstrate sustainability, innovation, impact, and design, while others such as Twilio have provided APIs and worked with teams to help develop the projects.</p>
        <h3><a href="http://idhack.developersfordevelopment.org/" role="button">Learn more >></a></h3>
      </div>

    </div> <!-- /container -->
  </div><!-- outside -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy('refresh');
      })
    </script>
{% endblock %}