
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <title>Developers for Development</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href='#programs'>Programs</a></li>
            <li><a href="#updates">Updates</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>How are you using technology to impact the world?</h1>
        <p>Developers for Development is a community of students interested in applying technology for social impact.</p>
      </div>

    </div> <!-- /container -->

    <div class="container" id='about'>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron info">
        <h3>About D4D</h3>
        <h4>Inspire. Innovate. Impact.</h4>
        <p>Harvard College Developers for Development (D4D) was founded in spring of 2012 by Alisa Nguyen, Victoria Gu, and Joy Ming in order to bring together two previously disparate communities--those interested in international development and those interested in technology--to help use "new" technologies to solve "old" problems in the developing world. D4D has worked to increase awareness for and involvement in social impact technology across the Harvard campus through projects, events, and more!</p>
      </div>

    </div> <!-- /container -->

    <div class="container" id='programs'>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron info">
        <h3>D4D Initiatives</h3>

        <h4>Term-time projects</h4>
        <p>Groups of Harvard students are matched up for a semester with host organizations based in the local Boston area working on projects to promote international development. Previous projects have included working on mobile platform integration with the Kartis Project, digitizing data collection with the Harvard Humanitarian Initiative, and randomizing selection of houses based on satellite images with the special envoy for global health to the United Nations.</p>


        <h4>Tech in the World</h4>
        <p>Founded in 2012 by Brandon Liu and Josh Lee, the immersion trip became one of the D4D initiatives in 2013. Tech in the World seeks to provide a global, hands-on experience for top computer science students who want to apply their technical expertise to solve critical issues in the developing world. Students have travelled to Dar es Salaam, Tanzania to work on global health projects with local hospitals and clinics.</p>
        <a class="btn btn-default" href="http://www.techintheworld.org" role="button">Learn more »</a>

        <h4>ID Hack</h4>
        <p>The largest collegiate hackathon for good, D4D has partnered with the MIT Global Poverty Initiative for the past 2 years to bring together hackers, international development enthusiasts, and NGOs in the greater Boston area to work on projects that will make an impact on the world.</p>
        <a class="btn btn-default" href="http://idhack.developersfordevelopment.org" role="button">Learn more »</a>

        <h4>Discussions 4 Development</h4>
        <p>Weekly Discussions 4 Development are spaces for Harvard students to converse about issues related to international development and technology. Students will share their projects ,experiences, and expertise, talk through case studies, invite relevant speakers, and discuss relevant current events.</p>

        <h4>Jobs, internships, and opportunities</h4>
        <p>With a database of over 70 organizations applying technology to international development, D4D has facilitated connections between students and organizations in various opportunities.</p>

        <h4>Partnerships</h4>
        <p>D4D is open to opportunities to work with groups interested in all aspects of international development or technology. Previous partnerships include those with Tech4Change; Digital Literacy Project; Harvard Innovation, Technology and Entrepreneurship Collaborative; Diagnostics for Global Health; and Harvard Students for Global Health.</p>

      </div>

    </div> <!-- /container -->

    <div class="container" id='updates'>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron info">
        <h3>D4D Updates</h3>
        <h4>Inspire. Innovate. Impact.</h4>
        <p>Harvard College Developers for Development (D4D) was founded in spring of 2012 by Alisa Nguyen, Victoria Gu, and Joy Ming in order to bring together two previously disparate communities--those interested in international development and those interested in technology--to help use "new" technologies to solve "old" problems in the developing world. D4D has worked to increase awareness for and involvement in social impact technology across the Harvard campus through projects, events, and more!</p>
      </div>

    </div> <!-- /container -->

    <div class="container" id='contact'>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron info">
        <h3>Contact D4D</h3>
        <p>Email: harvardd4d [at] gmail.com
        <br>Email list: lists.hcs.harvard.edu/mailman/listinfo/d4d-list
        <br>Facebook: www.facebook.com/developersfordevelopment<br>
        Twitter: @HarvardD4D
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
