{% extends "base.html" %}
{% block content %}
{% load static %}
  
  <div class="outside">
    <div class="container-fluid info">

      <!-- Main component for a primary marketing message or call to action -->
      <div>
        <h1>Partner With Us</h1>
				<p> We are always looking to collaborate with other people and organizations in the international development and social impact space. Below are some ways in which you or your organization could get involved. We are always looking for ways to collaborate, so please email us with suggestions. </p>
				<h3> Term-Time Projects </h3>
				<p>We connect groups of Harvard students with organizations so that students can work on a semester-long or year-long project with the organization. If your organization has any unsolved technical needs in the ICT4D space, you can submit a proposal to us for a semester-long or year-long project.</p>
				<h3> Mentorship </h3>
				<p>If you would like to mentor a Harvard student interested in technology and intenrational development, please send us an email!</p>
				<h3> IDHack </h3>
				<p> We hold an international development hackathon in conjunction with MIT's <a href="http://mitgpi.weebly.com">Global Poverty Initiative</a>, where organizations can pitch projects for students to work on. If your organization has a project in mind, you can submit a proposal to us fpr a hackathon project at IDHack. </p>
				<h3> Discussions for Development </h3>
				<p> If you would like to inspire and share your experiences with Harvard students interested in international development, you can come and give a talk or participate in a panel.</p>
				<h3> Tech in the World </h3>
				<p> If your organization has a branch in a developing country that has any unsolved technical needs, talk to us about sending a group of Harvard students there for 3-4 weeks to work on a problem in the ICT4D space.</p>
				<h3> Sponsorship </h3>
				<p> If your organization would like to recruit at Harvard and support our international development work, please contact us about sponsorship opportunities. If interested, we can provide you with our sponsorship packages and their associated benefits.</p>
			</div>

    </div> <!-- /container -->
  </div><!-- outside -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy('refresh');
      })
    </script>
{% endblock %}
