{% extends "base.html" %}
{% block content %}
{% load static %}
  
  <div class="outside">
    <div class="container-fluid info">

      <!-- Main component for a primary marketing message or call to action -->
      <div>
        <h1>Tech in the World</h1>
        <p>While technology has enormous potential to tackle global development problems, many computer science students do not get involved in global development. This gap is due in part to the lack of opportunities for students to be exposed to global issues and technology solutions. Tech in the World seeks to provide a global, hands-on experience for top computer science students who want to apply their technical expertise to solve critical issues in the developing world. The TITW mission is two-fold: to encourage CS students to learn about and to apply their technical knowledge to third-world challenges, and to develop solutions to these challenges through close partnerships with local organizations. TITW currently involves two initiatives: one trip that takes place over winter break to Tanzania, and another at the end of August in Argentina. </p>
        <h3><a href="http://www.techintheworld.org/">Learn more >></a></h3>
      </div>

    </div> <!-- /container -->
  </div><!-- outside -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy('refresh');
      })
    </script>
{% endblock %}