
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <title>Developers for Development</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/app.css" rel="stylesheet" type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy='scroll' data-target='.navbar-collapse'>

    <!-- <div id='wrap'> -->

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class='navbar-brand' href='#'><img src="{% static 'img/d4d_logo.jpg' %}" style='height:30px'></a> -->
          </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'projects:index'%}">Home</a></li>
						<li><a href="{% url 'projects:about' %}">About</a></li>
            <li class='dropdown'>
						<a href='#' class="dropdown-toggle" data-toggle="dropdown">Initiatives <b class="caret"></b></a>
							<ul class='dropdown-menu'>
								<li><a href="{% url 'projects:titw'%}">Tech in the World</a></li>
								<li><a href="{% url 'projects:idhack'%}">ID Hack</a></li>
								<li><a href="{% url 'projects:ttp'%}">Term-Time Projects </a></li>
								<li><a href="{% url 'projects:discuss'%}">Discussions 4 Development </a> </li>
              </ul>
							</li>
						<li><a href="{% url 'projects:events'%}">Events</a></li>
						<li class='dropdown'>
						<a href='#' class="dropdown-toggle" data-toggle="dropdown">Get Involved <b class="caret"></b></a>
						<ul class='dropdown-menu'>
							<li><a href="{% url 'projects:external' %}">Parter with Us</a></li>
							<li><a href="{% url 'projects:partners' %}">Current Partners</a></li>
							<li><a href="{% url 'projects:sponsors' %}">Sponsor Us</a></li>
							<li><a href="{% url 'projects:past_sponsors' %}">Our Sponsors</a></li>
						</ul>
						</li>
						<li><a href="{% url 'projects:contact_us' %}">Contact Us</a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" href="#">Developers for Development</a></li>
          <li><img class="navbar-logo" src="{% static 'img/d4d_globe.jpg' %}"></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

      {% block content %}
      {% endblock %}

      <!-- <div id='push'></div> -->

    <!-- </div> -->

    <div id='footer'>
      <div id='footer-logo'>
        <img src="{% static 'img/d4d_logo.jpg' %}" style='height:50px; margin-top:5px;'>
      </div>
      <div id='footer-contact'>
        <a href="mailto:harvardd4d@gmail.com"><img src="{% static 'img/email.png' %}" class='contact-pic' title='Email'></a>
        <a href="http://www.twitter.com/harvardd4d" ><img src="{% static 'img/twitter.png' %}" class='contact-pic' title='Twitter'></a>
        <a href="http://www.facebook.com/developersfordevelopment" title='Facebook'><img src="{% static 'img/facebook.png' %}" class='contact-pic'></a>
        <a href="http://harvardd4d.tumblr.com"><img src="{% static 'img/tumblr.png' %}" class='contact-pic' title='Tumblr'></a>
      </div>
    </div>

  </body>
  </html>
