body {
  padding-top: 70px;
  background: none;
}

h1 {
	color: white;
}

p {
	font-size: 16px;
	font-weight: 200;
}

.info {
	margin: 50px 100px;
	background: rgba(225, 225, 225, .7);
	padding: 30px;
}

a, .panel-title {
	cursor: pointer; cursor: hand;
}

html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
	height: 100%;
	text-align: center;
}

.outside {
	height: 100%;
	position: relative;
}

.message {
	position: absolute;
	bottom: 50%;
	height: 10em;
	margin-top: -5em;

}

.panel-title {
	font-size: 20px;
}

.panel-body p {
	font-size: 16px;
}

.info-pic {
/*	height: 240px;
	width: 320px;*/
	max-width: 320px;
}

.board-pic {
	height: 120px;
	width: 120px;
}

.caption {
	text-align: center;
}

.thumbnail {
	background: none;
	border: none;
}

.contact-pic {
	height: 60px;
	width: 60px;
	padding: 10px;
}
/*.top {
	background: rgba(225, 225, 225, .6);
}*/

.navbar-brand {
	font-weight: bold;
}

.navbar-logo {
	height: 50px;
}
